* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style-type: none;
}

button,
button:active,
fieldset, select,
input {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  cursor: pointer;
}
/* 
ios input style reset
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
} */

a {
  text-decoration: none;
  color: inherit;
}

