:root {
  /* color */
  --primary-color: #f1efe5;
  --secondary-color: #e6e3d6;
  --icon-color: #55ab67;
  --notice-color: #eb4d3d;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #999;

  /* font-size */
  --font-size-xlarge: 1.8em;
  --font-size-large: 1.4em;
  --font-size-regular: 1.2em;
  --font-size-small: 1em;
  /* gap */
  --gap-5: 5px;
  --gap-10: 10px;
  --gap-20: 20px;
}
